.product-page {
    padding: var(--spacing-lg) var(--spacing-md);
}

.product-page__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.product-page__gallery img {
    max-width: 100%;
    border-radius: .8rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.05);
}

.product-page__details {
    display: flex;
    flex-direction: column;
}

.product-page__title {
    font-size: var(--font-size-lg);
    color: var(--dark-text);
    margin-bottom: var(--spacing-sm);
}

.product-page__price {
    font-size: var(--font-size-md);
    color: var(--primary-green);
    font-weight: bold;
    margin-bottom: var(--spacing-md);
}

.product-page__description {
    font-size: var(--font-size-sm);
    color: var(--dark-text);
    line-height: 1.6;
    margin-bottom: var(--spacing-lg);
}

.product-page__button {
    background-color: var(--primary-green);
    color: #fff;
    padding: var(--spacing-md) var(--spacing-lg);
    border: none;
    border-radius: .4rem;
    font-size: var(--font-size-sm);
    cursor: pointer;
    transition: background-color .3s ease-in;
    width: 100%;
}

.product-page__button:hover {
    background-color: #38552f;
}

@media (min-width: 1200px) {

    .product-page__details {
        max-width: 40% !important;
    }
}

@media (min-width: 768px) {
    .product-page__container {
        justify-content: center;
    }
}

@media (min-width: 576px) {
    .product-page__container {
        flex-direction: row;
        gap: var(--spacing-md);
    }

    .product-page__gallery img {
        height: 40rem;
    }

    .product-page__details {
        justify-content: center;
        max-width: 50%;
    }

    .product-page__button {
        margin-top: var(--spacing-md);
    }
}