.tips {
    background-color: var(--highlight-green);
    padding: var(--spacing-lg) var(--spacing-md);
}

.tips__container {
    max-width: 120rem;
    margin: 0 auto;
}

.tips__title {
    font-size: var(--font-size-lg);
    text-align: center;
    margin-bottom: var(--spacing-lg);
    color: var(--dark-text);
}

.tips__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: var(--spacing-lg);
}

.tips-card {
    background-color: #fff;
    border-radius: .8rem;
    overflow: hidden;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.tips-card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.tips-card__content {
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tips-card__title {
    font-size: var(--font-size-md);
    margin: var(--spacing-sm);
    color: var(--primary-green);
}

.tips-card__text {
    font-size: var(--font-size-sm);
    margin: var(--spacing-sm) var(--spacing-sm);
    margin-top: 0;
    flex-grow: 1;
}

.tips-card__link {
    background-color: var(--primary-green);
    color: var(--light-gray);
    text-align: center;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: .6rem;
    font-size: var(--font-size-sm);
    transition: background-color .3s ease-in;
    margin: var(--spacing-sm);
}

.tips-card__link:hover { background-color: #38552f; }

@media (min-width: 1400px) {
    .tips__title { font-size: 3.2rem !important; }
}

@media (min-width: 1200px) {
    .tips-card__text, .tips-card__link { font-size: 1.6rem; }
}

@media (min-width: 990px) {
    .tips__title { font-size: 2.4rem; }
}

@media (min-width: 576px) {
    .tips-card { margin: 0 var(--spacing-md); }
}